<nav>
    {{!-- LOGO --}}
    <div class="logo"><a href="/">ALIGN</a></div>
    {{!-- NAVIGATION MENU --}}
    <ul class="nav-links">
        <div class="menu">
            <li><a href="/">Home</a></li>
            <li class="explore">Explore
                <ul class="dropdown">
                    <li><a href="companypreview">Company Preview Page</a></li>
                    <li>Company Profile Page</li>
                    <li>Ask along</li>
                    <li><a href="jobBoard">Job Board</a></li>
                    <li>Your time to shine</li>
                </ul>
            </li>
            <li><a href="login">Login/Signup</a></li>
            <div class="input-group">
            <div class="form-outline">
                <input type="search" id="form1" class="form-control" placeholder="Search" />
            </div>
            <button type="button" class="btn btn-primary">
                <i class="fas fa-search"></i>
            </button>
            </div>
        </div>
    </ul>
</nav>