<nav>
    {{!-- LOGO --}}
    <div class="logo">ALIGN</div>
    {{!-- NAVIGATION MENU --}}
    <ul class="nav-links">
        <div class="menu">
            <li>Home</li>
            <li class="explore">Explore
                <ul class="dropdown">
                    <li>Company Preview Page</li>
                    <li>Company Profile Page</li>
                    <li>Ask along</li>
                    <li>Job Board</li>
                    <li>Your time to shine</li>
                </ul>
            </li>
            <li>Login/Signup</li>
        </div>
    </ul>
</nav>