{{>loggedinNavbar}}
<div class="container">
  <div class="row">
    <section class="col-6">
    <div class="card" style="width: 35rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Finder Name</h5>
    <p class="card-text">A brief description of the finder's project and impact</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{finder size}}</li>
    <li class="list-group-item">finder type</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Finder's jobs</a>
  </div>
  <a href="#" class="card-link ms-5"><button>Edit</button></a>
</div>
</section>
<section class="col-6">
    <div class="card" style="width: 35rem;">
  <div class="card-body">
    <h5 class="card-title">Finder Contact Information</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Contact person: </li>
        <li class="list-group-item">Role:</li>
    <li class="list-group-item">phonenumber: </li>
    <li class="list-group-item">email</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
    <a href="#" class="card-link ms-5"><button>Edit</button></a>
</div>
</section>
  </div>
</div>
{{>copyright}}