{{>original}}

<div class="container-fluid">
    <div class="row">

        {{!-- <div class="col-lg-3 col-md-6 col-sm-6 image">
            <img src="img/dummypic2.jpg" class="img-fluid" alt="">
            <a href="impactSeeker"><div class="description description--blur">Impact Finder</div></a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 image">
            <img src="img/dummypic3.jpg" class="img-fluid" alt="">
            <a href="impactSeeker"><div class="description description--blur">Impact Finder</div></a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 image">
            <img src="img/dummypic1.jpg" class="img-fluid" alt="">
            <a href="impactSeeker"><div class="description description--blur">Impact Finder</div></a>
        </div>
            <div class="col-lg-3 col-md-6 col-sm-6 image">
            <img src="img/dummypic2.jpg" class="img-fluid" alt="">
            <a href="impactSeeker"><div class="description description--blur">Impact Finder</div></a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 image">
            <img src="img/dummypic3.jpg" class="img-fluid" alt="">
            <a href="impactSeeker"><div class="description description--blur">Impact Finder</div></a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 image">
            <img src="img/dummypic1.jpg" class="img-fluid" alt="">
            <a href="impactSeeker"><div class="description description--blur">Impact Finder</div></a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 image">
            <img src="img/dummypic2.jpg" class="img-fluid" alt="">
            <a href="impactSeeker"><div class="description description--blur">Impact Finder</div></a>
        </div> --}}
{{!-- Template --}}
        {{#each allFinders}}
                <div class="col-lg-3 col-md-6 col-sm-6 image">
                    <img src="img/dummypic2.jpg" class="img-fluid" alt="">
                    <a href="impactFinderProfile/{{this.finder_id}}"><div class="description description--blur">{{this.finder_name}}</div></a>
                </div>
        {{/each}}
    </div>
</div>
{{>copyright}}