{{>original}}
<div class="headDiv">
    <h1 class="heading">Get a new oppotunity by first logging in</h1>
    <div style='display:inline-block'>
        <p>Don't have an account yet? Sign up here now!</p>
        <button class="signupButton" type=="button"><a href="signup">Sign up here</a></button>
    </div>
</div>
<br>
<div class="loginPage">
    <div class="login">
        <p class="loginHeading">OAUTH HERE</p>
        <a href="/auth/facebook">Facebook</a>
        <a href="/auth/gmail">Gmail</a>
        <a href="/auth/microsoft">Microsoft</a>
    </div>

    <div class="login">
        <p class="loginHeading">Login Here</p>
        <form action="FILLMEIN" method="POST">
            <section class="username">
            <label for="username">Username:</label>
                    <input type="text" name="usernmae" id="username">
            </section>

            <br>
            
            <section class="password">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password">
            </section>

            <br>

            <section class="submission">
            <input type="submit" value="Submit">
            </section>
        </form>
    </div>
</div>

{{>copyright}}
