{{>guestNavbar}}
<div class="headDiv">
    <h1 class="heading">Get a new oppotunity by first logging in</h1>
    <button class="signupButton" type=="button"><a href="signup">Sign up here</a></button>
</div>
<br>
<div class="loginPage">
    <div class="login">
        <h2>OAUTH HERE</h2>
    </div>

    <div class="login">
        <h2>Login Here</h2>
        <form action="FILLMEIN" method="POST">
            <section class="username">
            <label for="username">Username:</label>
                    <input type="text" name="usernmae" id="username">
            </section>

            <br>
            
            <section class="password">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password">
            </section>

            <br>

            <section class="submission">
            <input type="submit" value="Submit">
            </section>
        </form>
    </div>
</div>

{{>copyright}}
