{{>original}}
<h1 class="heading">Sign-up here</h1>
<div class="signup">
            <form action="FILLMEIN" method="POST">
            <section class="username">
            <label for="username">Username:</label>
                    <input type="text" name="usernmae" id="username">
            </section>

            <br>
            
            <section class="password">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password">
            </section>

            <br>

            <section class="password">
            <label for="password">Confirm password:</label>
            <input type="password" name="password" id="password">
            </section>

            <br>

            <section class="submission">
            <input type="submit" value="Submit">
            </section>
        </form>
</div>
{{>copyright}}