*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    background-image: url("img/background.jpg");
    background-size: cover;
  }

a,a:hover {
    text-decoration: none;
    color:inherit;
}

label{
    display:inline-block;
    font-size:30px;
}

textarea{
    width:80%
}

li{
    list-style: none;
}

/* NAVBAR */
nav{
    display:flex;
    align-items: center;
    justify-content: space-between; 
    background-color: black;
} 
.nav-link,.nav-link:hover{
    display:inline-block;
    font-family: 'Poppins';
    font-size: 25px;
    font-weight:bold;
    color:#FFB545;
    margin-right:25px;
    text-align: center;
} 

.navbar-nav{
    margin-left: auto;
}

.navbar-toggler{
    background-color: #FFB545;
}

/* LOGO */
.logo,.logo:hover{
    font-size:45px;
    color:#228478;
    font-weight:bolder;
    font-family: 'Poppins';
    margin-left:15px;
}

/* .menu{
    display: flex;
    gap:8em;
} */

.pagename:hover{
    background-color: white;
    border-radius: 20px;
    transition:0.3s ease;
}

/* DROPDOWN MENU */
/* .explore{
    position:relative;
    z-index:2;
}


.dropdown{
    padding:1em 0;
    left:0;
    position:absolute;
    display:none;
    border-radius:5px;
    font-size:20px;
    background:white;
    width:300px;
    text-align:left;
    opacity: 0.9;
    transition:1s ease;
}

.dropdown li{
    text-align:center;
    padding: 0px 14px;
}

.dropdown li:hover{
    background-color: 228478;
}

.explore:hover .dropdown{
    display:block
} */


/* COPYRIGHT */
.copyright{
    margin-top:20px;
    display:flex;
    justify-content: center;
}

/* HomePage Carousell */
.carousel-item{
    width:100%;
    height:80%;
    z-index:-1;
}

img{
    object-fit:cover;
}

/* SignupPage */
/* .signup{
    /* margin-left:25px; 
} */

/* loginPage */
/* .headDiv{
    display: flex;
    justify-content: space-between;
} */

.heading{
    margin-top:20px;
    margin-left:25px;
}

.signUpButtonDiv{
    display:flex;
    justify-content: center;
}

.signupButton{
    border-radius: 20px;
    font-size: 20px;
    padding:2px;
    width:fit-content;
}
.loginpageDiv{
    padding:40px;
    border:10px solid #526f92;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.7);
}

.loginPage{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    height:80%
}

.loginHeading{
    font-size:40px;
    font-weight: bold;
}

.fa-brands{
    /* margin-top:5px; */
    padding:15px
}


form{
    margin-top:20px;
}

.hide{
    display:none
}

/* CompanyPreview  */
.image{    
    padding:0;
    margin:0;
    position:relative;
}

.description{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size:40px;
    color:white;
    text-align:center;
    opacity:0;
    transition: opacity 0.5s;
}

.description--blur{
    backdrop-filter: blur(3px);
}

.description:hover{
    opacity:1
}

/* Company Profile Page */
.impactFinderLogo{
    font-size:30px;
    margin-top:30px;
    margin-left:30px;
    border-radius: 10px solid black;
    padding:0px;
}

.impactFinderName,.impactSeekerName{
    font-size:30px;
    margin-top:30px;
    margin-left:5%;
    padding:0px;
}

.impactFinder{
    margin-left:30px;
    display:flex;
    justify-content: space-around;
}

.jobList{
    margin-left:2%;
    display:flex;
    justify-content: flex-start;
}

.impactFinderInfo{
    margin-top:30px;
    height:60%;
    width:45%;

}

.impactFinderInfoLeft,.impactFinderInfoRight{
    border:1px solid black;
    border-radius: 20px;
    padding:10px;
    width:100%;
    background:rgba(255,255,255,0.8)

}

.submitButton{
    margin-top: 5px;
    justify-self: end;
}

.reviews{
    display: flex;
    justify-content: center;
}

.reviewElement{
    margin:15px;
    padding:10px;
    width:30%;
    text-align: center;
}

#jobApplicationForm{
    margin-top:30px;
}

.jobApplicationForm{
    border:10px solid #526f92;
    border-radius: 10px;
    padding:30px;
    background-color: rgba(255,255,255,0.7);
}

.question,.submission{
    display:flex;
    justify-content: center;
}