{{>original}}
<h1 class="heading">Sign-up here</h1>
<div class="signup">
            <form action="/signup" method="post">
            <section style="display:flex;align-items:center;">
            <input type="radio" id="signupAsFinder" name="usertype" value="Impact Finder">
            <label for="signupAsFinder">Impact Finder</label><br>
            <input type="radio" id="signupAsSeeker" name="usertype" value="Impact Seeker">
            <label for="signnupAsSeeker">Impact Seeker</label><br>
            </section>
            <section class="username">
            <label for="username">Username:</label>
                <input type="text" name="username" id="username">
            </section>

            <br>
            
            <section class="password">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password">
            </section>

            <br>

            {{!-- <section class="password">
            <label for="password">Confirm password:</label>
            <input type="password" name="password" id="password">
            </section> --}}

            <br>

            <section class="submission">
            <input type="submit" value="Submit">
            </section>
        </form>
</div>
{{>copyright}}